/* SinglePost */

.mainBox {
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  width: 600px;
  margin: 10px;
}

.postImage {
  max-width: 100%;
  border-radius: 5px;
}

.postImageBox {
  padding: 10px;
  padding-top: 0;
  justify-content: center;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.description {
  color: white;
  max-width: 550px;
  margin: 0;
  padding: 5px;
  border: 1px solid gray;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  word-break: break;
}

.postUserBox {
  color: white;
  display: flex;
  align-items: baseline;
}

.link {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .mainBox {
    width: auto;
  }
  .description {
    max-width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
